[Computers]
desktop_enabled: False
documents_enabled: False
pictures_enabled: False
folders: C:\upload
# if high quality is disabled it means upload in original quality
high_quality_enabled: False
always_show_in_photos: True
usb_sync_enabled: False
#ignore_extensions: ext1, ext2, ext3
# Delete mode can be: ALWAYS_SYNC_DELETES, ASK, NEVER_SYNC_DELETES
delete_mode: NEVER_SYNC_DELETES

[MyDrive]
my_drive_enabled: False
# folder: /path/to/google_drive

[Settings]
autolaunch: False
show_overlays: False

[Network]
# download_bandwidth: 100
# upload_bandwidth: 200
# use_direct_connection: False
